# Arquivo de variáveis de ambiente
.env

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes virtuais
.venv
venv/
env/
ENV/

# Arquivos de configuração de IDEs populares
.vscode/
.idea/

# Arquivos de sistema operacional
.DS_Store
Thumbs.db